# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# -----------------
# Virtual Environments
# -----------------
.env
.venv
env/
venv/
.ipynb_checkpoints/

# -----------------
# Data (big files should not go to Git)
# -----------------
data/

# -----------------
# Spark / PySpark
# -----------------
spark-warehouse/
metastore_db/
.derby/

# -----------------
# OS / Editor
# -----------------
.DS_Store
*.swp
*.swo
*.bak

# -----------------
# Jupyter / VSCode
# -----------------
*.ipynb_checkpoints
.vscode/
*.log
reports/ml_sample/query_topK.csv/_SUCCESS
reports/ml_sample/query_topK.csv/._SUCCESS.crc
reports/ml_sample/query_topK.csv/.part-00000-422a3a1a-5ccb-407d-8959-a0716b915af9-c000.csv.crc
